<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP APP | Login Page</title>
</head>
<body>
    <h1>NLP APP</h1>
    <h3>Login Here</h3>

    
    {% if message %}
        <p style="color:green">{{ message }}</p>
    {% endif %}
    {% if message_w %}
        <p style="color:red">{{ message_w }}</p>
    {% endif %}


    <form action="/perform_login" method="post">
        <label>Email</label><br>
        <input type="Email" name="user_email"><br>
        <label>Password</label><br>
        <input type="password" name="user_password"><br><br>
        <input type="submit" value="Login">
    </form>

    <p>Not A Member? <a href="/register">Register Here</a></p>


</body>
</html>