<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP APP | NER</title>
</head>
<body>
    
    <form action="/perform_ner" method="post">
        <label>Type your text here:</label><br><br>
        <textarea name="ner_text"></textarea><br><br>
        <label>What do you want to search for?</label><br><br>
        <input type="text" name="search_for"><br><br>
        <input type="submit" value="perform NER"><br>
    </form>

</body>
</html>